<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Jira Integration</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="JiraIntegrationApp">
    <navbar></navbar>
    <script type="text/javascript" src="https://macsandbox.atlassian.net/s/8781380adf37a13b28c2a97e2bae3c09-T/-73584t/100004/b6b48b2829824b869586ac216d119363/1000.0.2/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=59b14d90"></script>
    ​
    <script type="text/javascript">window.ATL_JQ_PAGE_PROPS =  {
        "triggerFunction": function(showCollectorDialog) {
            //Requires that jQuery is available!
            jQuery("#myCustomTrigger").click(function(e) {
                e.preventDefault();
                showCollectorDialog();
            });
        }};</script>
    <!--<div class ="row">-->
        <!--<div class="col-md-3"></div>-->
        <!--<div class="col-md-6" id="main" ui-view></div>-->
        <!--<div class="col-md-3"></div>-->
    </div>
</body>
</html>
